/*DEFAULT*/
html, body, main, header, aside, section, div {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*BACKGROUND*/
body {
  background-image: url("Images/background.png");
  width: 100%;
  background-size: auto;
  background-position: absolute;
  font-size: 10px;
}

.background-overlay {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  position: absolute;
  background-size: cover;
  background-image: url("Images/alpha-transparency.png");
}

.background-overlay2 {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  opacity: 0.25;
  position: absolute;
  background-size: cover;
  background-image: url("Images/Texture.jpg");
}

/*GALAXY*/
#galaxy {
  background-size: cover;
  transform-style: preserve-3d;
  width: 100vw;
  height: 100vh;
  transform: rotateX(75deg);
}

/*GENERIC*/

/*generic planets(and sun) position*/
#sun, .planet, .moon{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  z-index: 0;
  border-radius: 50%;
}

/*generic orbit position*/
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.position {
  position: absolute;
  top: 50%;
  left: 0%;
}

/*Sun specific properties*/
#sun {
  font-size: 15em;
  background-color: #FDB813;
  box-shadow: inset -0.1em -0.1em 0.2em rgba(52,61,70,0.5);
  border-radius: 50%;
  transform: rotateX(-75deg);
}

/*MERCURY*/
#mercury.orbit {
  width: calc(100vw - 118em);
  height: calc(100vw - 118em);
  margin-left: calc(((100vw - 118em)/2)*(-1));
  margin-top: calc(((100vw - 118em)/2)*(-1));
  transform-style: preserve-3d;
  animation: Orbit 2s linear infinite;
}

#mercury .planet {
  font-size: 0.5em;
  background-color: grey;
}

#mercury .position {
  animation: position 2s linear infinite;
}

/*VENUS*/
#venus.orbit {
  width: calc(100vw - 117em);
  height: calc(100vw - 117em);
  margin-left: calc(((100vw - 117em)/2)*(-1));
  margin-top: calc(((100vw - 117em)/2)*(-1));
  animation: Orbit 3.5s linear infinite;
  transform-style: preserve-3d;
}

#venus .planet {
  font-size: 1.4em;
  background-image: linear-gradient(#FFF8AF, #AD9E78, #FFF8AF);
}

#venus .position {
  animation: position 3.5s linear infinite;
}

/*EARTH*/
#earth.orbit {
  width: calc(100vw - 116em);
  height: calc(100vw - 116em);
  margin-left: calc(((100vw - 116em)/2)*(-1));
  margin-top: calc(((100vw - 116em)/2)*(-1));
  transform-style: preserve-3d;
  animation: Orbit 6.5s linear infinite;
}

#earth .planet {
  font-size: 1.5em;
  background-image: radial-gradient(#58AD59, #2E2EAD);
  animation: position 6.5s linear infinite;
}

#earth .moonOrbit {
  width: 3em;
  height: 3em;
  border: 1px solid white;
  transform-style: preserve-3d;
  border-radius: 50%;
}

#earth .moon {
  font-size: 0.3em;
  background-color: white;
  left: 0%;
  animation: position 6.5s linear infinite;
}

/*MARS*/
#mars.orbit {
  width: calc(100vw - 114em);
  height: calc(100vw - 114em);
  margin-left: calc(((100vw - 114em)/2)*(-1));
  margin-top: calc(((100vw - 114em)/2)*(-1));
  animation: Orbit 11.8s linear infinite;
  transform-style: preserve-3d;
}

#mars .planet {
  font-size: 1em;
  background-color: #AD4A30;
}

#mars .position {
  animation: position 11.8s linear infinite;
}

/*JUPITER*/
#jupiter.orbit {
  width: calc(100vw - 101em);
  height: calc(100vw - 101em);
  margin-left: calc(((100vw - 101em)/2)*(-1));
  margin-top: calc(((100vw - 101em)/2)*(-1));
  transform-style: preserve-3d;
  animation: Orbit 13.07s linear infinite;
  border: 1px solid white;
}

#jupiter .planet {
  font-size: 14.52em;
  background-image: linear-gradient(#6B482A, #AD7544, #FFEFD0, #FFEFD0, #AD4F27, #FFEFD0);
}

#jupiter .position {
  animation: position 13.07s linear infinite;
}

/*SATURN*/
/*Saturn Orbit*/
#saturn.orbit {
  width: calc(100vw - 85em);
  height: calc(100vw - 85em);
  margin-left: calc(((100vw - 85em)/2)*(-1));
  margin-top: calc(((100vw - 85em)/2)*(-1));
  animation: Orbit 29.3s linear infinite;
  border: 1px solid white;
  transform-style: preserve-3d;
}

#saturn .planet {
  font-size: 12em;
  background: linear-gradient(#7F796B, #ADA591, #FFF2D6, #ADA591, #7F796B);
  animation: position 29.3s linear infinite;
}

#saturn .ring {
  border: 3px solid rgba(0,0,0, 0.3);
  background: radial-gradient(transparent 60%, #E5DCBD 10%, #292722);
  width: 20em;
  height: 20em;
  transform-style: preserve-3d;
  margin-left: -10em;
  margin-top: -10em;
  border-radius: 50%;
  z-index: 0;
}

/*URANUS*/
/*Uranus orbit*/
#uranus.orbit {
  width: calc(100vw - 49em);
  height: calc(100vw - 49em);
  margin-left: calc(((100vw - 49em)/2)*(-1));
  margin-top: calc(((100vw - 49em)/2)*(-1));
  transform-style: preserve-3d;
  animation: Orbit 41.7s linear infinite;
  border: 1px solid white;
}

/*Uranus planet*/
#uranus .planet {
  font-size: 5.27em;
  background: linear-gradient(#22657F, #44CAFF, #2F8BB0);
  transform-style: preserve-3d;
  animation: uPlanPos 41.7s linear infinite;
}

#uranus .ring {
  border: 3px solid rgba(227, 229, 240, 0.5);
  width: 10em;
  height: 10em;
  margin-left: -3em;
  margin-top: -3em;
  transform-style: preserve-3d;
  border-radius: 50%;
  transform: rotateY(-75deg);
}

/*NEPTUNE*/
/*Neptune Orbit*/
#neptune.orbit {
  width: calc(100vw - 10em);
  height: calc(100vw - 10em);
  margin-left: calc(((100vw - 10em)/2)*(-1));
  margin-top: calc(((100vw - 10em)/2)*(-1));
  animation: Orbit 59.8s linear infinite;
  transform-style: preserve-3d;
  border: 1px solid white;
}

/*Neptune planet*/
#neptune .planet{
  font-size: 5.12em;
  background-image: linear-gradient(#25377F, #4A6EFF, #25377F);
}

/*Neptune position*/
#neptune .position {
  animation: position 59.8s linear infinite;
}

/*KEYFRAMES*/

/*GENERIC*/
/*Planet Rotation Reposition*/
@keyframes position {
  0% {transform: rotateX(90deg)rotateZ(0deg) rotateY(0);}
  100% {transform: rotateX(90deg) rotateZ(0deg) rotateY(360deg);}
}

/*Orbit Rotation*/
@keyframes Orbit {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(-360deg);}
}

/*Mercury Shadow*/
@keyframes mercuryShadow {
  0% {box-shadow: inset 0em -0.3em 18px rgba(0, 0, 0, 0.5);}
  25% {box-shadow: inset 0 -2em 18px rgba(0, 0, 0, 0.5);}
  50% {box-shadow: inset 0em -0.1em 18px rgba(0, 0, 0, 0.5);}
  75% {box-shadow: inset 0em -0.2em 18px rgba(0, 0, 0, 0.5);}
  100% {box-shadow: inset 0em -0.2em 18px rgba(0, 0, 0, 0.5);}
}

/*Uranus Rotation*/
@keyframes uPlanPos {
  0% {transform: rotateX(90deg);}
  100% {transform: rotateX(450deg);}
}
