/***************
------------------
TABLE OF CONTENTS
------------------
1. * USE EVERYWHERE
2. * TITLE
3. * BACKGROUND
4. * UNIVERSE
5. * GALAXY
6. * GENERIC POSITIONS
  6a. * generic planet position
  6b. * generic orbit position
7. * SUN
8. * MERCURY
9. * VENUS
10. * EARTH
11. * MARS
12. * JUPITER
13. * SATURN
14. * URANUS
15. * MILKYWAY
16. * NEPTUNE
17. * POP UP CONTAINER
18. * FOOTER
19. * KEYFRAMES
  19a. * Planet Rotation Reposition
  19b. * Orbit Rotation
  19c. * Uranus Rotation
20. * MEDIA QUERIES

***************/

/* USE EVERYWHERE */
html, body, main, header, aside, section, div, p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* TITLE */
#title {
  font-size: 8em;
  color: #FFF;
  z-index: 2;
  margin: 0;
  text-align: center;
}

/* BACKGROUND */
body {
  background-image: url("Images/background.png");
  width: 100%;
  background-size: auto;
  font-size: 10px;
  font-family: 'Lobster Two', sans-serif;
}

.background-overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  background-size: cover;
  background-image: url("Images/alpha-transparency.png");
}

.background-overlay2 {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  position: absolute;
  background-size: cover;
  background-image: url("Images/Texture.jpg");
}

/* UNIVERSE */
#universe {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

/* GALAXY */
#galaxy {
  background-size: cover;
  transform-style: preserve-3d;
  max-width: 100%;
  height: 70vh;
  transform: rotateX(75deg);
}

/* GENERIC POSITIONS */

/* generic planet position */
#sun, .planet, .moon{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  z-index: 0;
  border-radius: 50%;
}

/* generic orbit position */
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.position {
  position: absolute;
  top: 50%;
  left: 0%;
}

.hidden {
  position: absolute;
  left: -10000px;
}


/* SUN */
#sun {
  font-size: 15em;
  background-color: #FDB813;
  box-shadow: inset -0.1em -0.1em 0.2em rgba(52,61,70,0.5);
  border-radius: 50%;
  transform: rotateX(-75deg);
}

/* MERCURY */
#mercury.orbit {
  width: calc(100vw - 118em);
  height: calc(100vw - 118em);
  margin-left: calc(((100vw - 118em)/2)*(-1));
  margin-top: calc(((100vw - 118em)/2)*(-1));
  transform-style: preserve-3d;
  -webkit-animation: Orbit 2s linear infinite;
  -moz-animation: Orbit 2s linear infinite;
  -o-animation: Orbit 2s linear infinite;
  animation: Orbit 2s linear infinite;
}

#mercury .planet, .planet-1 {
  font-size: 0.5em;
  background-image: linear-gradient(#D0CED1,#8E8D8F);
}

#mercury .position {
  -webkit-animation: position 2s linear infinite;
  -moz-animation: position 2s linear infinite;
  -o-animation: position 2s linear infinite;
  animation: position 2s linear infinite;
}

/* VENUS */
#venus.orbit {
  width: calc(100vw - 117em);
  height: calc(100vw - 117em);
  margin-left: calc(((100vw - 117em)/2)*(-1));
  margin-top: calc(((100vw - 117em)/2)*(-1));
  -webkit-animation: Orbit 3.5s linear infinite;
  -moz-animation: Orbit 3.5s linear infinite;
  -o-animation: Orbit 3.5s linear infinite;
  animation: Orbit 3.5s linear infinite;
  transform-style: preserve-3d;
}

#venus .planet, .planet-2 {
  font-size: 1.4em;
  background-image: linear-gradient(#FFF8AF, #AD9E78, #FFF8AF);
}

#venus .position {
  -webkit-animation: position 3.5s linear infinite;
  -moz-animation: position 3.5s linear infinite;
  -o-animation: position 3.5s linear infinite;
  animation: position 3.5s linear infinite;
}

/* EARTH */
#earth.orbit {
  width: calc(100vw - 116em);
  height: calc(100vw - 116em);
  margin-left: calc(((100vw - 116em)/2)*(-1));
  margin-top: calc(((100vw - 116em)/2)*(-1));
  transform-style: preserve-3d;
  -webkit-animation: Orbit 6.5s linear infinite;
  -moz-animation: Orbit 6.5s linear infinite;
  -o-animation: Orbit 6.5s linear infinite;
  animation: Orbit 6.5s linear infinite;
}

#earth .planet {
  font-size: 1.5em;
  background-image: radial-gradient(#58AD59, #2E2EAD);
  -webkit-animation: position 6.5s linear infinite;
  -moz-animation: position 6.5s linear infinite;
  -o-animation: position 6.5s linear infinite;
  animation: position 6.5s linear infinite;
}

.planet-3 {
  background-image: radial-gradient(#58AD59, #2E2EAD);
}

#earth .moonOrbit {
  width: 3em;
  height: 3em;
  border: 1px solid white;
  transform-style: preserve-3d;
  border-radius: 50%;
}

#earth .moon {
  font-size: 0.5em;
  background-color: white;
  left: 0%;
  -webkit-animation: position 6.5s linear infinite;
  -moz-animation: position 6.5s linear infinite;
  -o-animation: position 6.5s linear infinite;
  animation: position 6.5s linear infinite;
}

.planet-4 {
  background-image: linear-gradient(#FFF, #CBC9CC, #ADABAD);
}

/* MARS */
#mars.orbit {
  width: calc(100vw - 114em);
  height: calc(100vw - 114em);
  margin-left: calc(((100vw - 114em)/2)*(-1));
  margin-top: calc(((100vw - 114em)/2)*(-1));
  -webkit-animation: Orbit 11.8s linear infinite;
  -moz-animation: Orbit 11.8s linear infinite;
  -o-animation: Orbit 11.8s linear infinite;
  animation: Orbit 11.8s linear infinite;
  transform-style: preserve-3d;
}

#mars .planet, .planet-5 {
  font-size: 1em;
  background-image: linear-gradient(#AD4A30,#FF4500);
}

#mars .position {
  animation: position 11.8s linear infinite;
}

/* JUPITER */
#jupiter.orbit {
  width: calc(100vw - 101em);
  height: calc(100vw - 101em);
  margin-left: calc(((100vw - 101em)/2)*(-1));
  margin-top: calc(((100vw - 101em)/2)*(-1));
  transform-style: preserve-3d;
  -webkit-animation: Orbit 13.07s linear infinite;
  -moz-animation: Orbit 13.07s linear infinite;
  -o-animation: Orbit 13.07s linear infinite;
  animation: Orbit 13.07s linear infinite;
  border: 0.5px solid white;
}

#jupiter .planet, .planet-6 {
  font-size: 14.52em;
  background-image: linear-gradient(#6B482A, #AD7544, #FFEFD0, #FFEFD0, #AD4F27, #FFEFD0);
}

#jupiter .position {
  -webkit-animation: position 13.07s linear infinite;
  -moz-animation: position 13.07s linear infinite;
  -o-animation: position 13.07s linear infinite;
  animation: position 13.07s linear infinite;
}

/* SATURN */
#saturn.orbit {
  width: calc(100vw - 85em);
  height: calc(100vw - 85em);
  margin-left: calc(((100vw - 85em)/2)*(-1));
  margin-top: calc(((100vw - 85em)/2)*(-1));
  -webkit-animation: Orbit 29.3s linear infinite;
  -moz-animation: Orbit 29.3s linear infinite;
  -o-animation: Orbit 29.3s linear infinite;
  animation: Orbit 29.3s linear infinite;
  border: 1px solid white;
  transform-style: preserve-3d;
}

#saturn .planet {
  font-size: 12em;
  background: linear-gradient(#7F796B, #ADA591, #FFF2D6, #ADA591, #7F796B);
  -webkit-animation: position 29.3s linear infinite;
  -moz-animation: position 29.3s linear infinite;
  -o-animation: position 29.3s linear infinite;
  animation: position 29.3s linear infinite;
}

.planet-7 {
  background: linear-gradient(#7F796B, #ADA591, #FFF2D6, #ADA591, #7F796B);
}

#saturn .ring {
  border: 3px solid rgba(0,0,0, 0.3);
  background: radial-gradient(transparent 60%, #E5DCBD 10%, #292722);
  width: 20em;
  height: 20em;
  transform-style: preserve-3d;
  margin-left: -10em;
  margin-top: -10em;
  border-radius: 50%;
  z-index: 0;
}

/* URANUS */
#uranus.orbit {
  width: calc(100vw - 49em);
  height: calc(100vw - 49em);
  margin-left: calc(((100vw - 49em)/2)*(-1));
  margin-top: calc(((100vw - 49em)/2)*(-1));
  transform-style: preserve-3d;
  -webkit-animation: Orbit 41.7s linear infinite;
  -moz-animation: Orbit 41.7s linear infinite;
  -o-animation: Orbit 41.7s linear infinite;
  animation: Orbit 41.7s linear infinite;
  border: 1px solid white;
}

#uranus .planet {
  font-size: 5.27em;
  background: linear-gradient(#22657F, #44CAFF, #2F8BB0);
  transform-style: preserve-3d;
  -webkit-animation: uPlanPos 41.7s linear infinite;
  -moz-animation: uPlanPos 41.7s linear infinite;
  -o-animation: uPlanPos 41.7s linear infinite;
  animation: uPlanPos 41.7s linear infinite;
}

.planet-8 {
  background: linear-gradient(#22657F, #44CAFF, #2F8BB0);
}

#uranus .ring {
  border: 3px solid rgba(227, 229, 240, 0.5);
  width: 10em;
  height: 10em;
  margin-left: -3em;
  margin-top: -3em;
  transform-style: preserve-3d;
  border-radius: 50%;
  transform: rotateY(-75deg);
}

/* MILKYWAY */
[id^="rocks"].orbit {
  width: calc(100vw - 20em);
  height: calc(100vw - 20em);
  border: 1px solid white;
  border-radius: 50%;
  margin-left: calc(((100vw - 20em)/2) * (-1));
  margin-top: calc(((100vw - 20em)/2) *(-1));
  transform-style: preserve-3d;
}

[id^="rocks"] [class$="rock"] {
  width: calc(100vw - 20em);
  height: calc(100vw - 20em);
}

[id^="rocks"] [class^="rock"] {
  position: absolute;
  height: 1em;
  width: 1em;
  font-size: 1.5em;
  background-color: #ADADAC;
  transform-style: preserve-3d;
  border-radius: 10px 10px 5px 8px;
}

#rocks.orbit {
  -webkit-animation: Orbit 20s linear infinite;
  -moz-animation: Orbit 20s linear infinite;
  -o-animation: Orbit 20s linear infinite;
  animation: Orbit 20s linear infinite;
}

#rocks2.orbit {
  -webkit-animation: Orbit 40s linear infinite;
  -moz-animation: Orbit 40s linear infinite;
  -o-animation: Orbit 40s linear infinite;
  animation: Orbit 40s linear infinite;
}

#rocks [class^="rock"] {
  -webkit-animation: position 20s linear infinite;
  -moz-animation: position 20s linear infinite;
  -o-animation: position 20s linear infinite;
  animation: position 20s linear infinite;
}

#rocks2 [class^="rock"] {
  -webkit-animation: position 40s linear infinite;
  -moz-animation: position 40s linear infinite;
  -o-animation: position 40s linear infinite;
  animation: position 40s linear infinite;
}

.rock-1 {
  top: 50%;
  left: 0%;
  margin-left: 2em;
}
.rock-2{
  top: 40%;
  left: 0%;
  margin-left: 3em;
}

.rock-3 {
  top: 65%;
  left: 0%;
  margin-left: 4em;
}

.rock-4 {
  top: 55%;
  left: 0%;
  margin-left: 3em;
}

.rock-5 {
  top: 45%;
  left: 0%;
  margin-left: 5em;
}

.rock-6 {
  top: 50%;
  left: 100%;
  margin-left: -2em;
}

.rock-7 {
  top: 40%;
  left: 100%;
  margin-left: -3em;
}

.rock-8 {
  top: 65%;
  left: 100%;
  margin-left: -4em;
}

.rock-9 {
  top: 55%;
  left: 100%;
  margin-left: -3em;
}

.rock-10 {
  top: 45%;
  left: 100%;
  margin-left: -5em;
}

/* NEPTUNE */
#neptune.orbit {
  width: calc(100vw - 10em);
  height: calc(100vw - 10em);
  margin-left: calc(((100vw - 10em)/2)*(-1));
  margin-top: calc(((100vw - 10em)/2)*(-1));
  -webkit-animation: Orbit 59.8s linear infinite;
  -moz-animation:Orbit 59.8s linear infinite;
  -o-animation: Orbit 59.8s linear infinite;
  animation: Orbit 59.8s linear infinite;
  transform-style: preserve-3d;
  border: 1px solid white;
}

#neptune .planet, .planet-9 {
  font-size: 5.12em;
  background-image: linear-gradient(#25377F, #4A6EFF, #25377F);
}

#neptune .position {
  -webkit-animation: position 59.8s linear infinite;
  -moz-animation: position 59.8s linear infinite;
  -o-animation: position 59.8s linear infinite;
  animation: position 59.8s linear infinite;
}

/* POP UP CONTAINER */
.pop-up-container {
  width: 80em;
  height: 45em;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40em;
  margin-top: -26em;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  z-index: 3;
}

.pop-up-container p:first-child {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 3em;
}

.planet-picture-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  width: 40%;
  overflow-y: scroll;
}

.planet-x {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

#selPlanet {
  text-align: center;
  font-size: 5em;
  margin: 0;
}

#selPlanetDescr {
  width: 40%;
  border: 1px solid #000;
  border-radius: 10px;
  overflow-y: scroll;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  padding: 1.5rem;
}

/* FOOTER */
.planet-text-container {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  bottom: 3rem;
  width: 100%;
  padding: 1rem;
  font-size: 2.5em;
}

p[class^="text"] {
  display: inline;
  color: #FFF;
  margin: 0rem 1.5rem 1.5rem 0rem;
  border: 1px solid #FFF;
  padding: 0.5rem;
  border-radius: 5px;
}

/* KEYFRAMES */

/* Planet Rotation Reposition */
@-webkit-keyframes position {
  0% {transform: rotateX(90deg)rotateZ(0deg) rotateY(0);}
  100% {transform: rotateX(90deg) rotateZ(0deg) rotateY(360deg);}
}
@-moz-keyframes position {
  0% {transform: rotateX(90deg)rotateZ(0deg) rotateY(0);}
  100% {transform: rotateX(90deg) rotateZ(0deg) rotateY(360deg);}
}
@-o-keyframes position {
  0% {transform: rotateX(90deg)rotateZ(0deg) rotateY(0);}
  100% {transform: rotateX(90deg) rotateZ(0deg) rotateY(360deg);}
}
@keyframes position {
  0% {transform: rotateX(90deg)rotateZ(0deg) rotateY(0);}
  100% {transform: rotateX(90deg) rotateZ(0deg) rotateY(360deg);}
}

/* Orbit Rotation */
@-webkit-keyframes Orbit {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(-360deg);}
}
@-moz-keyframes Orbit {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(-360deg);}
}
@-o-keyframes Orbit {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(-360deg);}
}
@keyframes Orbit {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(-360deg);}
}

/* Uranus Rotation */
@-webkit-keyframes uPlanPos {
  0% {transform: rotateX(90deg);}
  100% {transform: rotateX(450deg);}
}
@-moz-keyframes {
  0% {transform: rotateX(90deg);}
  100% {transform: rotateX(450deg);}
}
@-o-keyframes uPlanPos {
  0% {transform: rotateX(90deg);}
  100% {transform: rotateX(450deg);}
}
@keyframes uPlanPos {
  0% {transform: rotateX(90deg);}
  100% {transform: rotateX(450deg);}
}

/* MEDIA QUERIES */
@media all and (max-width: 1360px) {
  #universe {
    font-size: 80%;
  }
  #pop-up-container {
    width: 50%;
    height: 50%;
    margin-left: -25%;
    margin-top: -20%;
  }
}

@media all and (max-width: 1130px) {
  #universe {
    font-size: 70%;
  }
  #pop-up-container {
    width: 50%;
    height: 50%;
    margin-left: -25%;
  }
}

@media all and (max-width: 965px) {
  #universe {
    font-size: 60%;
  }
  #pop-up-container {
    width: 60%;
    height: 50%;
    margin-left: -30%;
    margin-top: -25%;
  }
}

@media all and (max-width: 850px) {
  #universe {
    font-size: 50%;
  }
  #pop-up-container {
    width: 70%;
    height: 50%;
    margin-left: -35%;
    margin-top: -25%;
  }
  #selPlanetDescr {
    font-size: 3em;
  }
}

@media all and (max-width: 700px) {
  #universe {
    font-size: 40%;
  }
  #pop-up-container {
    width: 75%;
    height: 50%;
    margin-left: -37.5%;
    margin-top: -40%;
    padding: 0.5rem;
  }
  #selPlanet {
    font-size: 8em;
  }
  #selPlanetDescr {
    font-size: 5em;
  }
  #pop-up-container p:first-child {
    right: 0.75rem;
    font-size: 4em;
  }
  .planet-text-container {
    flex-flow: column nowrap;
    text-align:center;
    justify-content: space-around;
    height: 20%;
    font-size: 3em;
  }
}

@media all and (max-width: 550px) {
  #universe {
    font-size: 30%;
  }
  #pop-up-container {
      width: 80%;
      height: 50%;
      margin-left: -40%;
      margin-top: -45%;
      padding: 0.5rem;
    }
    #selPlanet {
      font-size: 8em;
    }
    #selPlanetDescr {
      font-size: 5em;
    }
  }

@media all and (max-width: 400px) {
  #universe {
    font-size: 25%;
  }
  #pop-up-container {
    width: 85%;
    height: 55%;
    margin-left: -42.5%;
    margin-top: -55%;
    padding: 0.5rem;
  }
  #selPlanet {
    font-size: 8em;
  }
  #selPlanetDescr {
    font-size: 5em;
  }
}

@media all and (max-width: 300px) {
  #universe {
    font-size: 20%;
  }
  #pop-up-container {
    width: 90%;
    height: 55%;
    margin-left: -45%;
    margin-top: -55%;
    padding: 0.5rem;
  }
  #selPlanet {
    font-size: 8em;
  }
  #selPlanetDescr {
    font-size: 5em;
  }
}
